@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 21, 90%, 48%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 220 9% 46%;
    --accent-foreground: 215 14% 34%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 21, 90%, 48%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --accent: 220 9% 46%;
    --accent-foreground: 222.2 84% 4.9%;
    --accent-hover: 179 93% 44%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;

    --chart-1: 220 70% 70%;
    --chart-2: 160 60% 65%;
    --chart-3: 30 80% 65%;
    --chart-4: 280 65% 70%;
    --chart-5: 340 75% 70%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .btn-user {
    @apply !w-10 !h-10 text-lg hover:text-gray-900 hover:!bg-accent/10 transition !rounded-full;
  }
  .element-center {
    @apply flex items-center justify-center;
  }
  .section-gap {
    @apply my-8 md:my-16;
  }
  .btn-link {
    @apply border-2 bg-primary text-white opacity-50 transition-all duration-300  hover:opacity-100 flex items-center justify-center 
    w-5 h-5 sm:w-[30px] sm:h-[30px] mx-2 sm:mx-3 rounded-full p-3  
    text-[10px] sm:text-xs;
  }
  .active-btn {
    @apply border-primary font-bold opacity-100;
  }
  .btnDecrease,
  .btnIncrease {
    @apply bg-primary w-6 h-6 text-white rounded-full md:text-xl ring ring-primary ring-offset-2 
    flex items-center justify-center disabled:cursor-not-allowed disabled:opacity-50;
  }
}
